/* src/components/Instructions.css */

.instruction-toggle {
  font-style: italic;
  font-family: Georgia, serif;
  position: fixed;
  bottom: 580px;
  right: 0;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
  font-weight: bold;

}


.info-icon:hover {
  background-color: #1e4e99;
}

.instruction-toggle:hover {
  background-color: #ffb84d;
}

.instruction-panel {
  display: flex;
  align-items: center;
  position: fixed;
  top: 110px;
  right: -800px;
  /* width: 280px; */
  height: 6px;
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 16px;
  margin-right: 50px;
  border-radius: 8px 0 0 8px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 999;
}

.instruction-panel.show {
  right: 0;
}
