/* App.css или main.css */
body {
  font-family: 'Roboto', sans-serif;
}
/* Запрет выделения текста и появления стандартного меню на мобильных */
input, textarea {
  -webkit-user-modify: read-write-plaintext-only; /* Safari */
}
input, textarea {
  autocomplete: off;
  autocorrect: off;
  autocapitalize: off;
  spellcheck: false;
}
